flows (1).json
[{"id":"799ae2db.6bf22c","type":"tab","label":"IBMIOT-UI","disabled":false,"info":""},{"id":"6e4eabba.ad0604","type":"debug","z":"799ae2db.6bf22c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":280,"wires":[]},{"id":"aad41a4d.f94168","type":"function","z":"799ae2db.6bf22c","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["6e4eabba.ad0604","7b99072b.3031d8"]]},{"id":"88b32152.3e33c","type":"function","z":"799ae2db.6bf22c","name":"Soil Temperature","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["6e4eabba.ad0604","23995bad.7b77d4"]]},{"id":"77110b71.fe5eb4","type":"function","z":"799ae2db.6bf22c","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["6e4eabba.ad0604","38836778.51d608"]]},{"id":"38836778.51d608","type":"ui_gauge","z":"799ae2db.6bf22c","name":"","group":"a8630b53.1f17e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":180,"wires":[]},{"id":"23995bad.7b77d4","type":"ui_gauge","z":"799ae2db.6bf22c","name":"","group":"1ab7c632.2f1b6a","order":0,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":120,"wires":[]},{"id":"7b99072b.3031d8","type":"ui_gauge","z":"799ae2db.6bf22c","name":"","group":"44584f37.3a3b7","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":60,"wires":[]},{"id":"dfdc6830.af9d48","type":"inject","z":"799ae2db.6bf22c","name":"","topic":"","payload":"","payloadType":"date","repeat":"7","crontab":"","once":true,"onceDelay":"7","x":90,"y":280,"wires":[["95aa646c.703438"]]},{"id":"95aa646c.703438","type":"http request","z":"799ae2db.6bf22c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Satara, IN&appid=7d7b60f5c9c3e192cb56938f66024e12","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":280,"wires":[["6e4eabba.ad0604"]]},{"id":"8ded5a27.3dc1b8","type":"ibmiot out","z":"799ae2db.6bf22c","authentication":"apiKey","apiKey":"1fdd3b9c.6bfe44","outputType":"evt","deviceId":"Motor","deviceType":"IOTDevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":460,"y":420,"wires":[]},{"id":"d90f2f1c.f59f9","type":"ui_button","z":"799ae2db.6bf22c","name":"","group":"c7496bda.684db8","order":1,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":120,"y":360,"wires":[["a680ac33.e971d","6e4eabba.ad0604","8ded5a27.3dc1b8"]]},{"id":"f0f2b550.7422a8","type":"ui_button","z":"799ae2db.6bf22c","name":"","group":"c7496bda.684db8","order":2,"width":0,"height":0,"passthru":true,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":110,"y":480,"wires":[["f8632d8c.eab9e","6e4eabba.ad0604","8ded5a27.3dc1b8"]]},{"id":"fb66a468.3bc5e8","type":"ibmiot in","z":"799ae2db.6bf22c","authentication":"apiKey","apiKey":"1fdd3b9c.6bfe44","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTDevice","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":110,"y":100,"wires":[["aad41a4d.f94168","88b32152.3e33c","77110b71.fe5eb4"]]},{"id":"a680ac33.e971d","type":"ui_toast","z":"799ae2db.6bf22c","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor ON","name":"show Dialogue","x":660,"y":360,"wires":[]},{"id":"f8632d8c.eab9e","type":"ui_toast","z":"799ae2db.6bf22c","position":"bottom right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor OFF","name":"Show Dialogue","x":640,"y":480,"wires":[]},{"id":"a8630b53.1f17e8","type":"ui_group","z":"","name":"Smart Agriculture Temperature","tab":"c90fcad6.292378","order":3,"disp":true,"width":"6","collapse":false},{"id":"1ab7c632.2f1b6a","type":"ui_group","z":"","name":"Smart Agriculture Soil Moisture","tab":"c90fcad6.292378","order":4,"disp":true,"width":"6","collapse":false},{"id":"44584f37.3a3b7","type":"ui_group","z":"","name":"Smart Agriculture Humidity","tab":"c90fcad6.292378","order":2,"disp":true,"width":"6","collapse":false},{"id":"1fdd3b9c.6bfe44","type":"ibmiot","z":"","name":"API KEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c7496bda.684db8","type":"ui_group","z":"","name":"Motor Commands","tab":"c90fcad6.292378","order":4,"disp":true,"width":"6","collapse":false},{"id":"c90fcad6.292378","type":"ui_tab","z":"","name":"Agriculture","icon":"dashboard","disabled":false,"hidden":false}]