flows (2).json
[{"id":"15e847aa.45ccf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb21f4ad.9d6078","type":"inject","z":"15e847aa.45ccf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":true,"onceDelay":"6","x":70,"y":200,"wires":[["985176ed.9913e8"]]},{"id":"985176ed.9913e8","type":"http request","z":"15e847aa.45ccf8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Satara, IN&appid=7d7b60f5c9c3e192cb56938f66024e12","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":200,"wires":[["f53bd696.3dc758","52369ea3.b0615","2dbc4977.50e396","3faec85.464e638"]]},{"id":"f53bd696.3dc758","type":"change","z":"15e847aa.45ccf8","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":80,"wires":[["47d3c356.4a121c","215c5893.ae0cc8"]]},{"id":"52369ea3.b0615","type":"change","z":"15e847aa.45ccf8","name":"Ground Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.grnd_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["8ded9b9a.71a508","215c5893.ae0cc8"]]},{"id":"2dbc4977.50e396","type":"change","z":"15e847aa.45ccf8","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["6c1b112.f53bbf","215c5893.ae0cc8"]]},{"id":"47d3c356.4a121c","type":"ui_gauge","z":"15e847aa.45ccf8","name":"","group":"98f848cf.49d568","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"kelvin","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":80,"wires":[]},{"id":"6c1b112.f53bbf","type":"ui_gauge","z":"15e847aa.45ccf8","name":"","group":"235c4d1b.85dea2","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":300,"wires":[]},{"id":"8ded9b9a.71a508","type":"ui_gauge","z":"15e847aa.45ccf8","name":"","group":"b3fbdf04.81728","order":0,"width":0,"height":0,"gtype":"gage","title":"Ground Level","label":"km/hr","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":160,"wires":[]},{"id":"3faec85.464e638","type":"change","z":"15e847aa.45ccf8","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":380,"wires":[["23b8f86d.c06d08","215c5893.ae0cc8"]]},{"id":"23b8f86d.c06d08","type":"ui_gauge","z":"15e847aa.45ccf8","name":"","group":"68e09012.d16fc","order":0,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"milibar","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":380,"wires":[]},{"id":"215c5893.ae0cc8","type":"debug","z":"15e847aa.45ccf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":220,"wires":[]},{"id":"98f848cf.49d568","type":"ui_group","z":"","name":"Temperature","tab":"e171f053.12a56","order":2,"disp":true,"width":"6","collapse":false},{"id":"235c4d1b.85dea2","type":"ui_group","z":"","name":"Humidity","tab":"e171f053.12a56","order":3,"disp":true,"width":"6","collapse":false},{"id":"b3fbdf04.81728","type":"ui_group","z":"","name":"Ground Level","tab":"e171f053.12a56","order":1,"disp":true,"width":"6","collapse":false},{"id":"68e09012.d16fc","type":"ui_group","z":"","name":"Pressure","tab":"e171f053.12a56","order":4,"disp":true,"width":"6","collapse":false},{"id":"e171f053.12a56","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","disabled":false,"hidden":false}]